<div class="container">
  <div class="grid">
    <div class="col-12">
      <p-breadcrumb [model]="breadcrumbItems" [home]="home"></p-breadcrumb>
    </div>

    <form autocomplete="off" #formulario="ngForm">
      <div class="grid">
        <div class="col-12" *ngIf="funcionario.funcionarioId">
          <div class="flex align-items-center justify-content-end gap-2">
            <label for="ativo">Ativo</label>
            <p-checkbox [binary]="true" value="ativo" [(ngModel)]="funcionario.ativo" name="ativo" id="ativo" />
          </div>
        </div>

        <div class="col-6 p-fluid">
          <p-fieldset legend="Dados do Funcionário">
            <div class="grid">
              <div class="col-12">
                <label for="funcionarioId" >Código</label>
                <input pInputText name="funcionarioId" [(ngModel)]="funcionario.funcionarioId" id="funcionarioId" />
              </div>

              <div class="col-12">
                <label for="nome">Nome</label>
                <input pInputText name="nome" [(ngModel)]="funcionario!.nome" id="nome" required>
              </div>
              
              <div class="col-12 p-fluid">
                <label for="departamento">Departamento</label>
                <p-dropdown name="departamento" [(ngModel)]="funcionario.departamento.codigo" [options]="dropdownDepartamentos" placeholder="Selecione"
                  [filter]="true" resetFilterOnHide="true" emptyFilterMessage="Nenhum item correspondente." id="departamento" />
              </div>
            </div>
          </p-fieldset>  
        </div>
        
        <div class="col-6 p-fluid">
          <p-fieldset legend="Login">
            <div class="grid">
              <div class="col-12">
                <label for="userId">ID de Usuário</label>
                <input pInputText name="userId" [(ngModel)]="funcionario!.userId" pTooltip="Código, Nome ou E-mail" tooltipPosition="top" id="userId">
              </div>
              
              <div class="col-12">
                <label for="senha">{{ !loginAtivo ? 'Senha' : 'Redefinir Senha' }}</label>
                <input pInputText type="password" name="senha" [(ngModel)]="funcionario!.senha" [required]="!loginAtivo" id="senha">
              </div>
              
              <div class="col-12">
                <label for="confirmacaoSenha">Confirmar Senha</label>
                <input pInputText type="password" name="confirmacaoSenha" [(ngModel)]="confirmacaoSenha" id="confirmacaoSenha" required>
              </div>
            </div>
          </p-fieldset>
        </div>
      </div>
    </form>
    
    <div class="col-12 md:col-2 p-fluid">
      <p-button label="Consultar" icon="pi pi-search" [raised]="true" routerLink="/funcionarios" />
    </div>

    <div class="col-12 md:col-2 p-fluid" *ngIf="editando && loginAtivo">
      <p-button label="Permissões" icon="pi pi-key" [raised]="true" (onClick)="irParaGenrenciamentoPermissoes()" />
    </div>

    <div class="col-12 md:col-2 p-fluid">
      <p-button label="Limpar" icon="pi pi-times" [raised]="true"
        (onClick)="nova()" [disabled]="!editando && formulario.pristine" />
    </div>

    <div class="col-12 md:col-2 ml-auto p-fluid">
      <p-button label="Salvar" icon="pi pi-save" [raised]="true" severity="success" [disabled]="formulario.invalid" (onClick)="salvar()" />
    </div>

  </div>
</div>
